body {
    margin: 0;
    overflow: hidden;
    background-image: url("../../../imgs/brasilia3.png");
    background-size: cover;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área do jogo */
}

#plane {
    position: absolute;
    bottom: 250px; /* Altura do avião */
    right: 10px;  /* Começar no lado direito */
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
}

.bullet {
    position: absolute;
    width: 15px; /* Ajuste conforme necessário */
    height: 10px; /* Ajuste conforme necessário */
    background-image: url("caminho/para/sua-imagem-da-bala.png"); /* Substitua pelo caminho correto */
    background-size: contain; /* Ajusta a imagem para caber dentro do elemento */
    background-repeat: no-repeat; /* Não repetir a imagem */
}

#gifsContainer {
    position: absolute;
    bottom: 200px; /* Ajuste conforme necessário para ficar abaixo do avião */
    left: 100px; /* Alinhe com o avião */
    height: 100px;
    width: 100px;
}
