* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
}

#palavra-secreta {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

#letras button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#mensagem {
    margin-top: 20px;
    font-size: 24px;
    color: green;
}

canvas {
    border: 1px solid black;
    margin-bottom: 20px;
}


#botaoCont {
    display: none;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#botaoCont:hover {
    background-color: #45a049;
}